html {
    --background: #FFF;
    --color: black;
    --background-image: url("../../../img/layouts/wineculture_logo_lightmode.png");
    --border-bottom: 2px solid #742f37;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.theme-dark {
    --background: #212121;
    --color: #FFF;
    --background-image: url("../../../img/layouts/wineculture_logo_darkmode.png");
    --border-bottom: 2px solid white;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
}

body {
    overflow-x: hidden;
}

.navv {
    width: 100%;
    margin: auto;
    box-shadow: var(--box-shadow);
    top: 0;
    z-index: 20;
    position: sticky;
    position: -webkit-sticky;
}


/* --- NAVBAR ---*/

.navbar {
    display: flex;
    position: relative;
    align-items: center;
    height: 75px;
    background: var(--background);
    font-size: 13.5pt;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    padding: 0 300px;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 20;
    margin-bottom: -20px!important;
}

.img {
    height: 100%;
    width: 7%;
    cursor: pointer;
    margin-left: 17%;
    background-image: var(--background-image);
    background-size: cover;
    background-position: 40% 40%;
    z-index: 20;
}

.navbar ul {
    flex: 1;
    text-align: right;
    margin-right: 17%;
    padding-top: 18px;
    z-index: 20;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}

.navbar ul li a {
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
    color: var(--color);
    padding: 10px 10px;
    position: relative;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.navbar button {
    color: var(--color);
}

.navbar ul li.active a {
    border-bottom: var(--border-bottom);
    content: '';
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}

.navbar ul li a:hover::after {
    height: 100%;
}

div.bb a:before,
div.bb a:after {
    border-bottom: var(--border-bottom);
    position: absolute;
    content: '';
    opacity: 0;
    width: 100%;
    height: 100%;
}

div.bb a:before {
    left: 0px;
    top: 0px;
}

div.bb a:after {
    right: 0px;
    bottom: 0px;
}

div.bb a:hover:before,
div.bb a:hover:after {
    opacity: 1;
    width: 100%;
    transition: all 0.2s;
}

.menu {
    right: 0;
    margin-right: 20px;
    font-size: 20pt;
    display: none;
}


/* Style The Dropdown Button */

.dropbtn {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media screen and (max-width: 1492px) {
    .navbar ul {
        margin-right: 2%;
    }
    .navbar .img {
        margin-left: 2%;
        /*margin-top: 5px;*/
        width: 100px;
    }
    .navbar {
        border-radius: 0;
    }
}

@media screen and (max-width: 1020px) {
    .menu {
        display: inline;
        position: absolute;
        float: right;
    }
    .navbar ul li {
        display: none;
    }
    .navbarmin {
        display: flex;
        position: relative;
        align-items: center;
        height: 75px;
        font-size: 13.5pt;
        width: 100%;
        background-color: var(--background);
    }
    .navbarmin ul {
        left: 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-top: 560px;
        position: absolute;
        width: 100%;
        background-color: var(--background);
        padding-top: 70px;
        z-index: 20;
        list-style: none;
    }
    .navbarmin li {
        float: left;
        width: 100%;
        clear: left;
        margin-bottom: 50px;
        text-align: center;
        font-size: 16pt;
    }
    .navbarmin ul li a {
        font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        text-decoration: none;
        color: #000;
        padding: 10px 10px;
        position: relative;
    }
    .navbarmin div.bb a:before,
    div.bb a:after {
        background: none;
    }
    .navbarmin .img {
        margin-left: 3.5%;
        width: 130px;
    }
}