.containerr {
    width: 95%;
    margin: 0 auto;

    overflow: hidden;
}

/* Cards */
.card-column {
    width: 100%;
    border: 1px solid white;
    padding: 4%;
    box-sizing: border-box;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: 30px !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #742f37;
    color: #fff;
    cursor: pointer;
    min-height: 300px;
    margin-bottom: 60px;
    width: 100%;
    overflow: hidden !important;
}

.card:hover .texto {
    margin-bottom: 0px;
    transition: all .5s !important;
}

.card:hover img {
    transform: scale(1.1) !important;
    transition: all .4s !important;
}

.border {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 6px;
    border: none !important;
    opacity: 0.5;
    left: -6px;
    top: -6px;
}

.texto {
    height: 55%;
    z-index: 20;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(45deg, rgb(93, 13, 13) 0%, rgba(172, 108, 108, 0.4) 100%) !important;
    transition: all .5s !important;
    margin-bottom: -53px;
}

.card .info {
    position: relative;
    width: 100%;
    margin: auto auto;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.card p.info {
    margin-top: -10px;
}

.card h2.info {
    font-size: 20pt;
    font-weight: 500;
}

.card .info span.categoria {
    display: block;
    font-size: 60%;
    margin-top: 5px;
    font-weight: 600;
    color: rgb(255, 161, 161);
}

.card a.info {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: 400;
    color: #fff;
    font-size: 13pt;
    width: 25%;
    margin-left: 37%;

}

.card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
    position: absolute;

}

.card-color-0 {
    background-color: linear-gradient(45deg, rgb(93, 13, 13) 0%, rgba(172, 108, 108, 0.4) 100%) !important;
}

.card-color-1 {
    background-color: linear-gradient(45deg, rgb(93, 13, 13) 0%, rgba(172, 108, 108, 0.4) 100%) !important;
}

.card-color-2 {
    background-color: #8DAA91;
}

.card-color-3 {
    background-color: #888DA7;
}

/* The cover (expanding background) */
.cover {
    position: fixed;
    background: #EB5160;
    z-index: 20;
    transform-origin: 50% 50%;
}

/* The open page content */
.open-content {
    top: 0;
    width: 100%;
    z-index: 110;
    height: 100%;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.open-content img {
    position: relative;
    width: 40%;
    margin: auto auto;
    object-fit: cover;
    float: left;
    height: 100%;
}

.open-content .text {
    position: absolute;
    background: #fff;
    width: 60%;
    height: 100%;
    z-index: -1;
    right: 0;
    top: 0;
}

.open-content .text p {
    width: 80%;
    margin-left: auto;
    font-size: 1.2em;
    margin-top: 60px;
    margin-right: auto;
}

.open-content .text h1 {
    font-size: 2em;
    text-align: center;
    padding-left: 30px;
    margin: .67em 0;
}

.open-content .text .autor {
    font-size: 1.4em;
    height: 70px;
    width: 25%;
    right: 20px;
    position: absolute;
    text-align: left;
    padding-right: 10px;
    line-height: 40px;
}

.open-content .text .autor span.nome {
    display: block;
    margin-bottom: -10px;
}

.open-content .text .autor img {
    border-radius: 50px;
    height: 65px;
    width: 65px;
    margin-right: 5px;
}

.close-content {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
}

.close-content span {
    background: #222;
    width: 30px;
    height: 6px;
    display: block;
    position: absolute;
    top: 14px;
}

.x-1 {
    transform: rotate(45deg);
}

.x-2 {
    transform: rotate(-45deg);
}

/* 
  ** Transitions
  */

.card {
    transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
}

.border {
    transition: opacity 200ms linear, transform 200ms ease-out;
}

.card img {
    transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
}

.card .info {
    transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}

/* Clicked card */
.card.clicked img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
}

.card.clicked .border {
    opacity: 0;
    transform: scale(1.3);
}

.card.out,
.card.out img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
}

.card.out .info,
.card.clicked .info {
    transform: translate3d(0%, -50px, 0px);
    opacity: 0;
}

.cover {
    transition: transform 300ms ease-in-out;
}

.open-content {
    transition: opacity 200ms linear 0ms;
}

.open-content.open {
    opacity: 1;
    pointer-events: all;
    transition-delay: 1000ms;
}

@media only screen and (max-width: 1670px) {
    .card-column {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media only screen and (max-width: 1670px) {
    .card-column {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .texto{
        margin-bottom: -1px;
    }
}

@media only screen and (max-width: 1314px) {
    .card-column {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media only screen and (max-width: 867px) {
    .card-column {
        grid-template-columns: repeat(1, 1fr) !important;
      }
    }
  
@media only screen and (max-width: 600px) {
    .card-column {
        width: 95%;
        margin: auto auto;
    }

    .column-1 {
        padding-top: 0px;
    }

    .open-content img {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .card h2.info {
        font-size: 16pt;
        width: 98%;
    }
}
@media only screen and (max-width: 420px) {
    .card a.info {
        width: 35%;
        margin-left: 33%;
    }
    
}

