html{
    --background: #FFF;
    --color: black;
    --btn-background: #27000A;
    --btn-color: #fff;
	--inputs: #fff;
    --placeholder: rgb(107, 107, 107);

}
.theme-dark  {
    --background: #212121;
    --color: #FFF;
    --btn-background:black;
    --btn-color: #fff;
    --inputs: #2e2e2e;
    --placeholder: #fff;
}

.container{
    margin-top: 70px;
    margin-bottom: 70px;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
.formulario {
    background-color: var(--background);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.contactos {
    background-color: green;
}

.icon {
    font-size: 35px;
    color: var(--color);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.row{
    color:  var(--color);
    transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

input.form-control, textarea.form-control{
    background-color: var(--inputs);
    color: var(--color);
    transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
::placeholder {
	color: var(--placeholder);
	transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
  }
.wrapper .btn{
    border-radius: 0 0 5px 0;
    background-color:  var(--btn-background);
    color:  var(--btn-color);
    border-radius: 40px;
    width: 90%;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
    margin:0 auto;
    display:block;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.btn:hover{
    opacity: 0.7;
}
