.container-pdp {
    position: relative;
    text-align: center;
    color: white;
    height: 500px;
    background-image: url('2.jpg');
    width: 100%;
}
.container-pdp .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
