body {
    background-image: url("/assets/img/paginas/frontend/back.jpg");
}

.imgs {
    border-radius: 30px;
    position: relative;
    size: cover;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.all {
    padding: 50px;
}

.buton {
    text-align: center;
}