body {
    font-family: Arial !important;
    padding: 50px !important;
    margin-left: 400px !important;
    margin-right: 400px !important;
    background: #f1f1f1;
}

.img {
    width: 100%;
}

.p {
    font-size: 100px !important;
}