img.banner {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.banner {
    margin-bottom: 10px;
}

.breadcrumb {
    background-color: white;
    margin-top: 30px !important;
}

.ui.breadcrumb a {
    color: #742f37 !important;
}

.breadcrumb .active {
    color: #742f37 !important;
}

.grid {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.grid {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.maincontainer {
    margin-top: 50px !important;
}

.semicontainer {
    margin-top: 0 !important
}

.row {
    width: 100% !important;
    margin: auto auto !important;
}

.semirow {
    padding-top: 0 !important
}

.filtrosmain,
.semifiltros {
    margin-right: 35px !important;
}

.filtros {
    height: 600px;
}

.filtrosmenu {
    width: 100% !important;
}

.ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #742f37 !important;
}

.ui.toggle.checkbox input:checked~label:before {
    border-color: #742f37 !important;
}

.ui.toggle.checkbox input~label:after {

    background: #742f37;
}

.ui.toggle.checkbox input:checked~label:before {
    background-color: #742f37 !important;
}

.ui.toggle.checkbox input:checked~label:after {

    background: #331518;
}

.vinhosheader {
    padding: 0 !important;
}

.headercontainer,
.headervinhoscontainer {
    margin: 0 !important;
    padding: 0 !important;
}

.headervinhoscontainer {
    overflow-y: auto !important;
    width: 82% !important;
    height: 60px !important;
}

.headervinhoscontainer::-webkit-scrollbar-track {
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 0;
    background-color: white 
}

.headervinhoscontainer::-webkit-scrollbar {
    height: 7px;
}

.headervinhoscontainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:  linear-gradient(0deg,  #5e262d 0%, #9d0214 100%);
    border: 1px solid #000;
}
.headervinhoscontainer::-webkit-scrollbar-thumb:hover {
    background-color: #3f171b;
}
.semiheader,
.headervinhos {
    border: none !important;
    height: 40px !important;
}

.semiheader {
    border-bottom: 2px solid #742f37 !important;
}

.ui.menu .item:before {
    background: none;
}

.headercontainer a.item,
.headervinhoscontainer a.item,
.ordenacao {
    border: none !important
}

.ordenacao {
    position: absolute !important;
    right: 0 !important;
}

.iconfiltro,
.tagsicon,
.pesquisaricon {
    color: #742f37;
}

.pesquisaricon {
    opacity: 1 !important;
}

.listavinhos {
    padding: 0 !important
}

.headervinhos {
    margin-top: 15px !important;
}

.selectfiltros {
    background-color: #742f37 !important;
    color: white !important;
    padding: 1em !important;
   
}
.reporfiltros {
    background-color: white !important;
    padding: 1em !important;
    color: black !important;
    border: 2px solid #742f37 !important;
    margin-left: 15px !important;
    height: 37px;
    margin-top: 12px !important;
}

.reporfiltros i.apagarfiltros {
    font-size: 20px !important;
    margin: 0 !important;
    line-height: 10px !important
}


.itemfiltros {
    border: none !important;
    padding: 0 !important;
}

.headervinhospesquisa {
    border: none !important;
    position: absolute !important;
    right: 0 !important;
    padding: 0 !important;
}

.headervinhospesquisa input {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #742f37 !important;
}

.results .category {
    position: absolute !important;
    margin-left: -96px !important;
}

.results .category .name {
    border: 2px solid #742f37 !important;
    border-right: none !important;
    color: black !important;
}

.results .category .results {
    border: 2px solid #742f37 !important
}

a.refresh {
    padding-left: 0 !important
}

a.refresh:hover {
    background-color: unset !important
}

a.refresh i.animacao {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.vinhoscontainer {
    margin: auto auto !important;
    margin-top: 50px !important;
    padding: 0 !important;
    text-align: center !important;
    font-size: 20px !important;
}

.vinhoscontainer img {
    height: 250px !important;
    object-fit: contain !important
}

.columnvinho {
    box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
}

.dividervinho {
    width: 90%;
    margin: 25px auto;
    margin-bottom: 15px;
}

.imgbtnright,
.imgbtndown {
    margin-top: 2px !important;
    border-radius: 5px !important;
}

.imgbtnright {
    float: right !important;
}

.imgbtndown {
    float: left !important;
}

.imgbtnright .direita,
.imgbtndown .baixo {
    background-color: white !important;
}

.imgbtnright i,
.imgbtndown i {
    color: #742f37 !important;
}

.ui.cube.shape .side {
    background-color: unset !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.shapedetalhes {
    display: inline-block;
    margin-top: 15px;
    color: black !important;
}

.shapevinho {
    height: 250px !important;
}

.shapedetalhes .sides {
    height: 50px
}

.shapedetalhes .sides .side {
    height: 50px
}

.sides.sidesdetalhes .side {
    height: 50px !important
}

.imgvinho {
    width: 100% !important;
    height: 350px;
    object-fit: cover;
}
