img.banner {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.banner {
    margin-bottom: 10px;
}

.breadcrumb {
    background-color: white;
    margin-top: 30px !important;
}

.ui.breadcrumb a {
    color: #742f37 !important;
}

.breadcrumb .active {
    color: #742f37 !important;
}

.grid {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.grid {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.maincontainer {
    margin-top: 50px !important;
}

.semicontainer {
    margin-top: 0 !important
}

.row {
    width: 100% !important;
    margin: auto auto !important;
}

.semirow {
    padding-top: 0 !important
}

.filtrosmain,
.semifiltros {
    margin-right: 35px !important;
}

.filtros {
    height: 600px;
}

.filtrosmenu {
    width: 100% !important;
}

.ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #742f37 !important;
}

.ui.toggle.checkbox input:checked~label:before {
    border-color: #742f37 !important;
}

.ui.toggle.checkbox input~label:after {

    background: #742f37;
}

.ui.toggle.checkbox input:checked~label:before {
    background-color: #742f37 !important;
}

.ui.toggle.checkbox input:checked~label:after {

    background: #331518;
}

.vinhosheader {
    padding: 0 !important;
}

.headercontainer,
.headervinhoscontainer {
    margin: 0 !important;
    padding: 0 !important;
}

.semiheader,
.headervinhos {
    border: none !important;
    height: 40px !important;
}

.semiheader {
    border-bottom: 2px solid #742f37 !important;
}

.ui.menu .item:before {
    background: none;
}

.headercontainer a.item,
.headervinhoscontainer a.item,
.ordenacao {
    border: none !important
}

.ordenacao {
    position: absolute !important;
    right: 0 !important;
}

.iconfiltro,
.tagsicon,
.pesquisaricon {
    color: #742f37;
}
.pesquisaricon {
    opacity: 1!important;
}
.listavinhos {
    padding: 0 !important
}

.headervinhos {
    margin-top: 15px !important;
}

.selectfiltros {
    background-color: #742f37 !important;
    color: white !important;
    padding: 1em !important;
}
.reporfiltros {
    background-color: white !important;
    padding: 1em !important;
    color: black!important;
    border: 2px solid #742f37 !important;
}

.itemfiltros {
    border: none!important;
    padding: 0 !important;
}

.headervinhospesquisa {
    border: none!important;
    position: absolute !important;
    right: 0 !important;
    padding: 0 !important;
}

.headervinhospesquisa input {
    border: none !important;
    border-radius: 0!important;
    border-bottom: 2px solid #742f37 !important;
}
.results .category{
    position: absolute!important;
    margin-left: -96px!important;
}
.results .category .name{
    border: 2px solid #742f37!important;
    border-right:none!important;
    color: black!important;
}
.results .category .results{
    border: 2px solid #742f37!important
}