.cartao {
    height:110px;
}

div.dataTables_scrollBody {
    max-height: 4500px;
}
table #trv:hover {
    background: #873740;
    cursor: pointer;
}

table tbody>tr:hover td{
    color: white!important;
}
