.cartao {
    height: 110px;
}

table #trv td.tdhover:hover {
    background: #873740;
    cursor: pointer;
}

table tbody>tr:hover td.tdhover {
    color: white!important;
    background: #873740;
}

.backurl {
    padding-top: -30px;
    font-size: 20px;
}